<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomerMapper">

	<!-- 获取所有客户信息 -->

	<select id="AllCustomerlistPage" parameterType="pd" resultType="pd"
		useCache="false">
		select CUSTOMERID,CUSTOMERNAME,SHORTNAME,CONTACT,TEL,ADRESS from
		CUSTOMERS where 1=1
		<if test="pd.USERNAME != null and pd.USERNAME != ''"><!-- 关键词检索 -->
			and
			(
			CUSTOMERNAME LIKE CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			or
			SHORTNAME LIKE CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			or
			CONTACT
			LIKE
			CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			or
			TEL LIKE
			CONCAT(CONCAT('%',
			#{pd.USERNAME}),'%')
			or
			ADRESS LIKE
			CONCAT(CONCAT('%',
			#{pd.USERNAME}),'%')
			)
		</if>
	</select>

	<!-- 获取所有客户信息 -->

	<select id="AllCustomerlist" parameterType="pd" resultType="pd"
		useCache="false">
		select CUSTOMERID,CUSTOMERNAME,SHORTNAME,CONTACT,TEL,ADRESS from
		CUSTOMERS where 1=1
		<if test="pd.USERNAME != null and pd.USERNAME != ''"><!-- 关键词检索 -->
			and
			(
			CUSTOMERNAME LIKE CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			or
			SHORTNAME LIKE CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			or
			CONTACT
			LIKE
			CONCAT(CONCAT('%', #{pd.USERNAME}),'%')
			or
			TEL LIKE
			CONCAT(CONCAT('%',
			#{pd.USERNAME}),'%')
			or
			ADRESS LIKE
			CONCAT(CONCAT('%',
			#{pd.USERNAME}),'%')
			)
		</if>
	</select>
	<!-- 通过影院名称获得数据 -->

	<!-- 通过影院编码获取数据 -->


</mapper>