<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oristartech.cinema.mapper.Dw_DimMapper" >
<select id="getCountByTheaterCode" resultType="java.lang.Integer">
	select count(1) as sum from DW_DIM_CINEMA_INFO t where t.CINEMA_CODE in (${theaterCode})
</select>
</mapper>