<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oristartech.cinema.mapper.LoginMapper">
     <select id="loginAction" resultType="java.lang.Integer">
         select count(userid) from back_user where username=#{username,jdbcType=VARCHAR} 
         and userpass=#{userpass,jdbcType=VARCHAR}
     </select>
</mapper>