<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oristartech.cinema.mapper.TicketSystemMapper">
	 <select id="queryComprehensiveInfo" resultType="java.util.Map">
		 SELECT  IFNULL(ROUND(SUM(IF (dbm.MOVIE_SALE IS NULL, 0, dbm.MOVIE_SALE)+ IF (dbm.MOVIE_SALE_ADD IS NULL, 0, dbm.MOVIE_SALE_ADD)- IF (dbm.MOVIE_SALE_REJECT IS NULL, 0, dbm.MOVIE_SALE_REJECT))),0) AS ACTUAL_MONEY,
				IFNULL(SUM(IFNULL(dbm.PERSON_NUM , 0)+ IFNULL (dbm.PERSON_NUM_ADD, 0)- IFNULL (dbm.PERSON_NUM_REJECT, 0)),0) AS TOTAL_PERSON_NUM,
				IFNULL(SUM(IFNULL(dbm.TOTAL_SEAT_VALID,0)-IFNULL(dbm.TOTAL_SEAT_INVALID, 0)),0) as TOTAL_SEAT,
				IFNULL(CONCAT(FORMAT(SUM(IF (dbm.PERSON_NUM IS NULL, 0, dbm.PERSON_NUM)+IF (dbm.PERSON_NUM_ADD IS NULL, 0, dbm.PERSON_NUM_ADD)-IF (dbm.PERSON_NUM_REJECT IS NULL, 0, dbm.PERSON_NUM_REJECT)) /SUM(IF (dbm.TOTAL_SEAT_VALID IS NULL, 0, dbm.TOTAL_SEAT_VALID)-IF (dbm.TOTAL_SEAT_INVALID IS NULL, 0, dbm.TOTAL_SEAT_INVALID))*100,2),'%'),'0.00%') as SZL,
				ROUND(IFNULL((SELECT IFNULL(SUM(dbit.SALE_MONEY),0) - IFNULL(SUM(dbit.REJECT_MONEY),0) FROM DW_BU_INCOME_TOTAL dbit WHERE dbit.CINEMA_CODE in (
				${theaterId}
				) AND dbit.STATISTICAL_DATE = DATE_FORMAT(dbm.SHOW_TIME, '%Y-%m-%d') AND CAST(dbit.SALE_TYPE AS CHAR) = '卖品收入'),0)) as MPSR,
				 (SELECT SUM(ADD_MEMBER_NUM) FROM DW_BU_MEMBER WHERE CINEMA_CODE in (
				${theaterId}
				) AND STATISTICAL_DATE = DATE_FORMAT(dbm.SHOW_TIME, '%Y-%m-%d')) as XZHY,
				 (SELECT SUM(TOTAL_MEMBER_NUM) FROM DW_BU_MEMBER WHERE CINEMA_CODE in (
				${theaterId}
				) AND STATISTICAL_DATE = DATE_FORMAT(dbm.SHOW_TIME, '%Y-%m-%d')) as LJHY,
				IFNULL((select SUM(IFNULL(DBGS.BILL_COUNT,0)) from DW_BU_GOODS_SALE DBGS WHERE DBGS.CINEMA_CODE in (
				${theaterId}
				) AND DBGS.STATISTICAL_DATE = DATE_FORMAT(dbm.SHOW_TIME, '%Y-%m-%d')),0) as BILL_COUNT,
				(SELECT IFNULL(SUM(dbit.SALE_MONEY),0) - IFNULL(SUM(dbit.REJECT_MONEY),0) FROM DW_BU_INCOME_TOTAL dbit WHERE dbit.CINEMA_CODE = dbm.CINEMA_CODE AND dbit.STATISTICAL_DATE = DATE_FORMAT(dbm.SHOW_TIME, '%Y-%m-%d') AND CAST(dbit.SALE_TYPE AS CHAR) = '会员充值') as CZJE
				FROM DW_BU_MOVIE dbm
				WHERE dbm.SHOW_TIME = DATE_FORMAT('${date}','%Y-%m-%d')
				AND dbm.CINEMA_CODE in (${theaterId})
	</select>
	<select id="queryPFInfo" resultType="java.math.BigDecimal">
			 SELECT ROUND(IFNULL(SUM(IFNULL(DBIT.SALE_MONEY, 0)-IFNULL(DBIT.REJECT_MONEY, 0)),0)) AS PF FROM DW_BU_INCOME_TOTAL DBIT
			WHERE DBIT.CINEMA_CODE in (${theaterId}) AND DBIT.STATISTICAL_DATE = '${date}' AND SALE_TYPE = '卖品收入'
	</select>
	<select id="queryHistoryBoxOffice" resultType="java.util.Map">
			SELECT  Round(IFNULL(SUM(IF (dbm.MOVIE_SALE IS NULL, 0, dbm.MOVIE_SALE)+ IF (dbm.MOVIE_SALE_ADD IS NULL, 0, dbm.MOVIE_SALE_ADD)- IF (dbm.MOVIE_SALE_REJECT IS NULL, 0, dbm.MOVIE_SALE_REJECT)),0)/1,2) AS ACTUAL_MONEY,
					IFNULL(SUM(IF (dbm.MOVIE_SALE IS NULL, 0, dbm.MOVIE_SALE)+ IF (dbm.MOVIE_SALE_ADD IS NULL, 0, dbm.MOVIE_SALE_ADD)- IF (dbm.MOVIE_SALE_REJECT IS NULL, 0, dbm.MOVIE_SALE_REJECT)),0) as ACTUAL_MONEY1,
					IFNULL(SUM(IF (dbm.PERSON_NUM IS NULL, 0, dbm.PERSON_NUM)+ IF (dbm.PERSON_NUM_ADD IS NULL, 0, dbm.PERSON_NUM_ADD)- IF (dbm.PERSON_NUM_REJECT IS NULL, 0, dbm.PERSON_NUM_REJECT)),0) AS TOTAL_PERSON_NUM,
					SUM(IF (dbm.TOTAL_SEAT_VALID IS NULL, 0, dbm.TOTAL_SEAT_VALID)-IF (dbm.TOTAL_SEAT_INVALID IS NULL, 0, dbm.TOTAL_SEAT_INVALID)) as TOTAL_SEAT,
					CONCAT(FORMAT(SUM(IF (dbm.PERSON_NUM IS NULL, 0, dbm.PERSON_NUM)+IF (dbm.PERSON_NUM_ADD IS NULL, 0, dbm.PERSON_NUM_ADD)-IF (dbm.PERSON_NUM_REJECT IS NULL, 0, dbm.PERSON_NUM_REJECT)) /SUM(IF (dbm.TOTAL_SEAT_VALID IS NULL, 0, dbm.TOTAL_SEAT_VALID)-IF (dbm.TOTAL_SEAT_INVALID IS NULL, 0, dbm.TOTAL_SEAT_INVALID))*100,2),'%') as SZL,
					DATE_FORMAT(dbm.SHOW_TIME, '%Y-%m-%d') AS SHOW_TIME
					FROM DW_BU_MOVIE dbm 
					WHERE dbm.CINEMA_CODE in (${theaterId})
					AND <![CDATA[SHOW_TIME >= DATE_FORMAT(#{Date},'%Y-%m-%d')
					AND SHOW_TIME <= DATE_FORMAT(#{currentDate},'%Y-%m-%d')
					]]>
					GROUP BY SHOW_TIME
					order by SHOW_TIME asc
	</select>
	<select id="queryHistoryMp" resultType="java.util.Map">
			SELECT Round((SELECT IFNULL(SUM(dbit.SALE_MONEY),0) - IFNULL(SUM(dbit.REJECT_MONEY),0) FROM DW_BU_INCOME_TOTAL dbit WHERE dbit.CINEMA_CODE = dbm.CINEMA_CODE AND dbit.STATISTICAL_DATE = DATE_FORMAT(dbm.STATISTICAL_DATE, '%Y-%m-%d') AND CAST(dbit.SALE_TYPE AS CHAR) = '卖品收入')/1,0) as MPSR,
					(SELECT IFNULL(SUM(dbit.SALE_MONEY),0) - IFNULL(SUM(dbit.REJECT_MONEY),0) FROM DW_BU_INCOME_TOTAL dbit WHERE dbit.CINEMA_CODE = dbm.CINEMA_CODE AND dbit.STATISTICAL_DATE = DATE_FORMAT(dbm.STATISTICAL_DATE, '%Y-%m-%d') AND CAST(dbit.SALE_TYPE AS CHAR) = '卖品收入') as MPSR1,
					SUM(IFNULL(dbm.BILL_COUNT,0)) as BILL_COUNT,
					IFNULL((select IFNULL(SUM(IFNULL(dw.PERSON_NUM, 0)+ IFNULL(dw.PERSON_NUM_ADD , 0)- IFNULL (dw.PERSON_NUM_REJECT , 0)),0) from DW_BU_MOVIE dw where dw.CINEMA_CODE = dbm.CINEMA_CODE and dw.SHOW_TIME=DATE_FORMAT(dbm.STATISTICAL_DATE, '%Y-%m-%d')),0) AS TOTAL_PERSON_NUM,
					CONCAT(FORMAT( SUM(IFNULL(dbm.BILL_COUNT,0))/(select IFNULL(SUM(IFNULL(dw.PERSON_NUM, 0)+ IFNULL(dw.PERSON_NUM_ADD , 0)- IFNULL (dw.PERSON_NUM_REJECT , 0)),0) from DW_BU_MOVIE dw where dw.CINEMA_CODE = dbm.CINEMA_CODE and dw.SHOW_TIME=DATE_FORMAT(dbm.STATISTICAL_DATE, '%Y-%m-%d'))*100,2),'%') as GML,
					DATE_FORMAT(dbm.STATISTICAL_DATE, '%Y-%m-%d') AS SHOW_TIME
					FROM DW_BU_GOODS_SALE dbm
					<![CDATA[
					WHERE dbm.CINEMA_CODE in (${theaterId}) and 
					dbm.STATISTICAL_DATE >= DATE_FORMAT(#{Date},'%Y-%m-%d')
					AND dbm.STATISTICAL_DATE <= DATE_FORMAT(#{currentDate},'%Y-%m-%d')
					]]>
					GROUP BY SHOW_TIME order by SHOW_TIME asc
	</select>
	<select id="querySchedualInfo" resultType="java.util.Map">
			SELECT t.HALL_NAME as hallName,(t.TOTAL_SEAT_INVALID+t.TOTAL_SEAT_VALID) as seats FROM DW_BU_MOVIE_TIMES t <![CDATA[WHERE t.SHOW_TIME >= #{date}
			AND t.SHOW_TIME < DATE_ADD(#{date},INTERVAL 1 DAY)]]> AND t.CINEMA_CODE = #{theaterCode} GROUP BY t.HALL_NAME order by t.HALL_NAME
	</select>
	<select id="querySchedualDetail" resultType="java.util.Map">
			SELECT t.HALL_NAME as hallName,t.MOVIE_NAME as showName, t.MOVIE_CODE as moiveCode, TIMESTAMPDIFF(MINUTE,t.SHOW_TIME,t.SHOW_TIME_END) as duration, SUBSTRING(t.SHOW_TIME,12,5) as showTime,
					(t.PERSON_NUM+t.PERSON_NUM_REJECT-t.PERSON_NUM_REJECT) as audiences
					 FROM DW_BU_MOVIE_TIMES t
					 <![CDATA[WHERE t.SHOW_TIME >= #{Time1}
					 AND t.SHOW_TIME <= #{Time2} 
					 AND t.CINEMA_CODE = #{theaterCode} AND t.PLAN_TIME_STATUS=1 ORDER BY t.HALL_NAME,t.SHOW_TIME]]>
	</select>
	<select id="queryBoxOffice1" resultType="java.util.Map">
			SELECT DBM.CINEMA_CODE,DBM.CINEMA_NAME,
				ROUND(SUM(IF (DBM.MOVIE_SALE IS NULL, 0, DBM.MOVIE_SALE)+IF (DBM.MOVIE_SALE_ADD IS NULL, 0, DBM.MOVIE_SALE_ADD)-IF (DBM.MOVIE_SALE_REJECT IS NULL, 0, DBM.MOVIE_SALE_REJECT))) AS ACTUAL_MONEY, 
				IFNULL(SUM(IF (DBM.MOVIE_SALE IS NULL, 0, DBM.MOVIE_SALE)+ IF (DBM.MOVIE_SALE_ADD IS NULL, 0, DBM.MOVIE_SALE_ADD)- IF (DBM.MOVIE_SALE_REJECT IS NULL, 0, DBM.MOVIE_SALE_REJECT)),0) as ACTUAL_MONEY1,
				 SUM(IF (DBM.PERSON_NUM IS NULL, 0, DBM.PERSON_NUM)+IF (DBM.PERSON_NUM_ADD IS NULL, 0, DBM.PERSON_NUM_ADD)-IF (DBM.PERSON_NUM_REJECT IS NULL, 0, DBM.PERSON_NUM_REJECT)) AS TOTAL_PERSON_NUM, 
				 CONCAT(FORMAT(SUM(IF (DBM.PERSON_NUM IS NULL, 0, DBM.PERSON_NUM)+IF (DBM.PERSON_NUM_ADD IS NULL, 0, DBM.PERSON_NUM_ADD)-IF (DBM.PERSON_NUM_REJECT IS NULL, 0, DBM.PERSON_NUM_REJECT)) /SUM(IF (DBM.TOTAL_SEAT_VALID IS NULL, 0, DBM.TOTAL_SEAT_VALID)-IF (DBM.TOTAL_SEAT_INVALID IS NULL, 0, DBM.TOTAL_SEAT_INVALID))*100,1),'%') AS SZL,
				 FORMAT(SUM(IF (DBM.MOVIE_SALE IS NULL, 0, DBM.MOVIE_SALE)+IF (DBM.MOVIE_SALE_ADD IS NULL, 0, DBM.MOVIE_SALE_ADD)-IF (DBM.MOVIE_SALE_REJECT IS NULL, 0, DBM.MOVIE_SALE_REJECT))/SUM(IF (DBM.TOTAL_SEAT_VALID IS NULL, 0, DBM.TOTAL_SEAT_VALID)-IF (DBM.TOTAL_SEAT_INVALID IS NULL, 0, DBM.TOTAL_SEAT_INVALID)),2) AS SINGEL_SEAT_MNEY, 
				 IFNULL(FORMAT(SUM(IF (DBM.MOVIE_SALE IS NULL, 0, DBM.MOVIE_SALE)+IF (DBM.MOVIE_SALE_ADD IS NULL, 0, DBM.MOVIE_SALE_ADD)-IF (DBM.MOVIE_SALE_REJECT IS NULL, 0, DBM.MOVIE_SALE_REJECT))/SUM(IF (DBM.PERSON_NUM IS NULL, 0, DBM.PERSON_NUM)+IF (DBM.PERSON_NUM_ADD IS NULL, 0, DBM.PERSON_NUM_ADD)-IF (DBM.PERSON_NUM_REJECT IS NULL, 0, DBM.PERSON_NUM_REJECT)),1),0) AS AVG_MONEY
				 FROM DW_BU_MOVIE DBM WHERE DBM.SHOW_TIME  = DATE_FORMAT(#{date}, '%Y-%m-%d') AND DBM.CINEMA_CODE IN (${theaterId})
				 GROUP BY DBM.CINEMA_CODE order by SINGEL_SEAT_MNEY desc
	</select>
	<select id="queryAllTheaterMPList" resultType="java.util.Map">
			select o.CINEMA_CODE,o.CINEMA_NAME , 
			  IFNULL((SELECT SUM(IFNULL(dbm.PERSON_NUM,0)  +IFNULL(dbm.PERSON_NUM_ADD,0)-IFNULL(dbm.PERSON_NUM_REJECT,0)) from DW_BU_MOVIE dbm where dbm.CINEMA_CODE=o.CINEMA_CODE and dbm.SHOW_TIME = DATE_FORMAT(
			 #{date}
			 , '%Y-%m-%d')),0) AS TOTAL_PERSON_NUM, 
			 IFNULL((SELECT SUM(IFNULL(dbm.TOTAL_SEAT_VALID,0)-IFNULL(dbm.TOTAL_SEAT_INVALID ,0)) from DW_BU_MOVIE dbm where dbm.CINEMA_CODE=o.CINEMA_CODE and dbm.SHOW_TIME = DATE_FORMAT(
			 #{date}
			 , '%Y-%m-%d')),0) as TOTAL_SEAT,
			 IFNULL((select SUM(IFNULL(DBGS.BILL_COUNT,0)) from DW_BU_GOODS_SALE DBGS WHERE DBGS.CINEMA_CODE =o.CINEMA_CODE AND DBGS.STATISTICAL_DATE = DATE_FORMAT(
			 #{date}
			 , '%Y-%m-%d')),0) as BILL_COUNT,
			 ROUND(IFNULL((select SUM(IFNULL(dbit.SALE_MONEY,0) -IFNULL(dbit.REJECT_MONEY,0)) from DW_BU_INCOME_TOTAL dbit where dbit.CINEMA_CODE = o.CINEMA_CODE and dbit.STATISTICAL_DATE = DATE_FORMAT(
			 #{date}
			 , '%Y-%m-%d') and dbit.SALE_TYPE='卖品收入'),0)) AS 'MPSR',
			 IFNULL(((select SUM(IFNULL(dbit.SALE_MONEY,0) -IFNULL(dbit.REJECT_MONEY,0)) from DW_BU_INCOME_TOTAL dbit where dbit.CINEMA_CODE = o.CINEMA_CODE and dbit.STATISTICAL_DATE = DATE_FORMAT(
			 #{date}
			 , '%Y-%m-%d') and dbit.SALE_TYPE='卖品收入'))/(SELECT SUM(IFNULL(dbm.PERSON_NUM,0)  +IFNULL(dbm.PERSON_NUM_ADD,0)-IFNULL(dbm.PERSON_NUM_REJECT,0)) from DW_BU_MOVIE dbm where dbm.CINEMA_CODE=o.CINEMA_CODE and dbm.SHOW_TIME = DATE_FORMAT(
			 #{date}
			 , '%Y-%m-%d')),0) as PERSONMP,
			 FORMAT(IFNULL((select SUM(IFNULL(dbit.SALE_MONEY,0) -IFNULL(dbit.REJECT_MONEY,0)) from DW_BU_INCOME_TOTAL dbit where dbit.CINEMA_CODE = o.CINEMA_CODE and dbit.STATISTICAL_DATE = DATE_FORMAT(
			 #{date}
			 , '%Y-%m-%d') and dbit.SALE_TYPE='卖品收入')/(SELECT SUM(IFNULL(dbm.PERSON_NUM,0)  +IFNULL(dbm.PERSON_NUM_ADD,0)-IFNULL(dbm.PERSON_NUM_REJECT,0)) from DW_BU_MOVIE dbm where dbm.CINEMA_CODE=o.CINEMA_CODE and dbm.SHOW_TIME = DATE_FORMAT(
			 #{date}, '%Y-%m-%d')),0) ,2) as SPP from DW_DIM_CINEMA_INFO o,DW_BU_MOVIE DBM 
			where DBM.CINEMA_CODE=o.CINEMA_CODE and o.CINEMA_CODE in (${theaterId}) 
			and DBM.SHOW_TIME  = DATE_FORMAT(#{date}, '%Y-%m-%d') GROUP BY DBM.CINEMA_CODE order by PERSONMP desc
	</select>
	<select id="queryMPList" resultType="java.util.Map">
		 	SELECT a.CINEMA_CODE, a.CINEMA_NAME, a.MER_CODE, a.MER_NAME,ROUND((a.SALE_SINGLE_AMOUNT+a.SALE_COMB_AMOUNT-a.REJECT_SINGLE_AMOUNT-a.REJECT_COMB_AMOUNT),0) as SALE_AMOUNT,
			ROUND((a.SALE_MONEY_SINGLE+a.SALE_MONEY_COMB-a.REJECT_SINGLE_MONEY-a.REJECT_COMB_MONEY),0) as SALE_MONEY,(a.SALES_COST_SINGLE+a.SALES_COST_COMB) as SALE_COST,
			a.BILL_COUNT, 
			FORMAT(IFNULL((SELECT b.STOCK_AMOUNT FROM DW_BU_GOODS_SALE_STOCK b WHERE DATE_FORMAT(b.STATISTICAL_DATE,'%Y-%m-%d') = DATE_FORMAT(a.STATISTICAL_DATE,'%Y-%m-%d') AND b.CINEMA_CODE = a.CINEMA_CODE AND b.MER_CODE=a.MER_CODE),0),0) storeNum,
			CONCAT(FORMAT(IFNULL((SELECT c.LOSS_AMOUNT FROM DW_BU_GOODS_LOSS c WHERE c.STATISTICAL_DATE = a.STATISTICAL_DATE AND c.CINEMA_CODE = a.CINEMA_CODE AND c.MER_CODE=a.MER_CODE)*100/
			(SELECT (a.SALE_COMB_AMOUNT+a.SALE_SINGLE_AMOUNT+c.LOSS_AMOUNT+b.STOCK_AMOUNT) FROM DW_BU_GOODS_SALE_STOCK b,DW_BU_GOODS_LOSS c WHERE b.STATISTICAL_DATE = a.STATISTICAL_DATE AND b.CINEMA_CODE = a.CINEMA_CODE AND b.MER_CODE=a.MER_CODE
			AND c.STATISTICAL_DATE = a.STATISTICAL_DATE AND c.CINEMA_CODE = a.CINEMA_CODE AND c.MER_CODE=a.MER_CODE),0),1),'%')  lossRate
			FROM DW_BU_GOODS_SALE a 
			WHERE
			a.CINEMA_CODE = '${theaterId}' AND DATE_FORMAT(a.STATISTICAL_DATE,'%Y-%m-%d') = #{Date} 
			order by SALE_MONEY desc
	</select>
	<select id="queryMoviesBoxOffice" resultType="java.util.Map">
		 SELECT  a.CINEMA_NAME, a.MOVIE_NAME, a.SHOW_TIME, ROUND((a.MOVIE_SALE + a.MOVIE_SALE_ADD - a.MOVIE_SALE_REJECT)) AS MOVIE_SALE,
		 		(a.PERSON_NUM+a.PERSON_NUM_ADD-a.PERSON_NUM_REJECT) as ZRC,
				CONCAT(FORMAT(((a.PERSON_NUM + a.PERSON_NUM_ADD - a.PERSON_NUM_REJECT)/(a.TOTAL_SEAT_INVALID+a.TOTAL_SEAT_VALID))*100,1),'%') as SZL,
				concat(FORMAT(a.PLAN_TIME_VALID / (SELECT SUM(b.PLAN_TIME_VALID) FROM DW_BU_MOVIE b WHERE b.CINEMA_CODE = a.CINEMA_CODE AND b.SHOW_TIME = a.SHOW_TIME )*100,1),'%') AS PPL,
				(select  Datediff(SYSDATE(),c.DATE_PUBLIC_SHOW)+1 FROM DW_BASE_SCH_MOVIE c WHERE c.MOVIE_CODE = a.MOVIE_CODE order by c.DATE_PUBLIC_SHOW DESC limit 1) as DAYS,
				(select sum((c.MOVIE_SALE + c.MOVIE_SALE_ADD - c.MOVIE_SALE_REJECT)) FROM DW_BU_MOVIE c WHERE c.CINEMA_CODE = a.CINEMA_CODE AND c.MOVIE_NAME = a.MOVIE_NAME and c.SHOW_TIME>=(select m.DATE_PUBLIC_SHOW from DW_BASE_SCH_MOVIE m where m.MOVIE_CODE=a.MOVIE_CODE order by c.DATE_PUBLIC_SHOW DESC limit 1)) as HIS_SALE,
				a.PLAN_TIME_VALID planTimesValid,
				FORMAT(SUM(a.MOVIE_SALE+a.MOVIE_SALE_ADD-a.MOVIE_SALE_REJECT)/SUM(a.PERSON_NUM+a.PERSON_NUM_ADD-a.PERSON_NUM_REJECT),1) evgPrice,
				CONCAT(FORMAT((SELECT COUNT(dbmc.ID) FROM DW_BU_MOVIE_CHANNEL dbmc WHERE dbmc.CHANNEL_TYPE not in('柜台') AND dbmc.CINEMA_CODE in (${theaterId}) AND dbmc.SHOW_TIME=#{Date} AND dbmc.MOVIE_NAME=dbm.MOVIE_NAME)*100
				/COUNT(dbm.ID),1),'%') netPercent,
				FORMAT(SUM(a.PERSON_NUM+a.PERSON_NUM_ADD-a.PERSON_NUM_REJECT)/a.PLAN_TIME_VALID,0) evgPerson,
				 CONCAT(FORMAT((SUM(dbm.PERSON_NUM+dbm.PERSON_NUM_ADD-dbm.PERSON_NUM_REJECT)/(SELECT SUM(a.PERSON_NUM+a.PERSON_NUM_ADD-a.PERSON_NUM_REJECT) FROM  DW_BU_MOVIE a  WHERE a.CINEMA_CODE in (${theaterId}) AND DATE_FORMAT(a.SHOW_TIME, '%Y-%m-%d') = #{Date}))*100,1),'%') boxPercent
				FROM DW_BU_MOVIE a LEFT JOIN DW_BU_MOVIE_CHANNEL dbm ON a.MOVIE_NAME=dbm.MOVIE_NAME WHERE   
        		a.CINEMA_CODE  in (${theaterId}) AND DATE_FORMAT(a.SHOW_TIME, '%Y-%m-%d') = #{Date} 
				AND dbm.CINEMA_CODE  in (${theaterId}) AND dbm.SHOW_TIME=#{Date}
				AND a.PLAN_TIME_VALID>0
				GROUP BY a.MOVIE_NAME
				order by a.PLAN_TIME_VALID desc
	</select>
	<select id="queryGrailData" resultType="java.util.Map">
		SELECT NAME, CURRENT_BOX_OFFICE, BOX_OFFICE_RATIO, BOX_OFFICE_SUM, SCHEDULE_RATIO,PUBLIC_DAYS,FETCH_TIME FROM FETCH_FILM WHERE FETCH_TIME >= DATE_FORMAT('${date}','%Y-%m-%d')
		AND FETCH_TIME &lt; DATE_FORMAT( DATE_ADD('${date}', INTERVAL 1 DAY), '%Y-%m-%d') ORDER BY FETCH_TIME DESC,-current_box_office ASC LIMIT 0,10
	</select>
</mapper>