@CHARSET "UTF-8";

.queryTd {
	padding: 0px 10px 0px 0px;
}

.queryLabel {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
}

.querybtn{
	border-radius:5px;
}